.lp-form {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* DETAIL PAGE OUTER */
.post-detail-container {
  width: 100%;
  margin-top: 20px;
}

.back-btn {
  font-size: 14px;
  font-weight: 600;
  color: #3b82f6;
  margin-bottom: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.post-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.post-box {
  display: flex;
  gap: 20px;
}

/* LEFT CARD */
.post-left-card {
  width: 55%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
}

.post-large-img {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.post-info-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid red;
}

.author-info h6 {
  font-size: 12px;
  color: #444;
}

.author-info p {
  color: #2563eb;
  font-size: 14px;
}

.post-date {
  font-size: 14px;
  white-space: nowrap;
}

.post-stats {
  display: flex;
  gap: 20px;
  margin-top: 12px;
}

.stat-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-description {
  margin-top: 15px;
  font-size: 14px;
}

/* RIGHT COMMENT SECTION */
.comment-section {
  width: 45%;
  background: white;
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 20px;
}

.comment-input-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.comment-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #333;
  padding: 8px;
  outline: none;
  font-size: 14px;
}

.comment-post-btn {
  background: orange;
  color: white;
  font-weight: 600;
  padding: 6px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
